/*
GLOBAL
*/
.heading-site {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

html {
    background-color: #a4611a;
    background-image: url(../img/arriereplan.png);
}
/*
HEADER
*/
.header {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	height: 60px;
	line-height: 60px;
	background-color:#333333;
	position: fixed;
	top: 0;
	z-index: 999;
}

.header .header-logo {
	color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	float: left;
	margin-left: 30px;
}

.header .header-menu {
	float: right;
	margin-right: 30px;
}

.header .header-menu a {
	margin-right: 15px;
	color: #FFFFFF;
}

.header a:hover,
.header-menu a:hover {
	color: #a4611a;
}

/*
BANNER
*/
 .banner {
	 margin-top: -24px;
 }

.banner .banner-image {
	position: relative;
}

.banner .banner-content {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
}

.banner .banner-content h1,
.banner .banner-content h2 {
	color: #FFFFFF;
    background-color: #a4611a;
    background-image: url(../img/arriereplan.png);
}

/*
ABOUT
*/
.about .about-single-element .icon {
	font-size: 30px;
	text-align: center;
    color: #FFFFFF;
}

.about .about-single-element {
	text-align: center;
    color: #FFFFFF;
}

.about .about-single-element p {
	text-align: left;
	margin-top: 20px;
    color: #FFFFFF;
}

.about .about-single-element .subtitle {
    color: #000000;
	border: solid 4px #000000;
}

/*
FOOTER
*/
.footer .footer-informations {
	text-align: center;
	margin-top: 30px;
}

.footer .footer-informations ul {
	padding: 0;
}

.footer .footer-informations ul li {
	display: inline-block;
	list-style-type: none;
}

p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

label {
    display: block;
    font: .9rem 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
    margin-top: 1rem;
}
