/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles généraux */
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  margin: 20px;
  background-color: #000000;
  color: #f7f7f7;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
  color: #f7f7f7;
}

a {
  text-decoration: none;
  color: #f7f7f7;
}

/* Navigation */
header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

/* Styles de base pour la section "Accueil" */
#accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

@keyframes change-couleur {
  0% {
    color: #580ef6;
  }
  20% {
    color: #f7f7f7;
  }
  40% {
    color: #580ef6;
  }
  60% {
    color: #f7f7f7;
  }
  80% {
    color: #580ef6;
  }
  100% {
    color: #f7f7f7;
  }
}

.texte-anime {
  animation: change-couleur 1s infinite;
}

/* Styles pour les écrans de petite taille (par exemple, smartphones) */
@media (max-width: 768px) {
  #accueil {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
}
/* Partie sur a propos */
.deuxcards {
  display: flex;
}

/* Ajouter les styles pour les écrans de téléphone */
@media (max-width: 767px) {
  .deuxcards {
    flex-direction: column;
  }

  .deuxcards .card {
    margin-bottom: 20px; /* Ajouter un espace vertical de 20 pixels entre les cards */
  }
}

/* Partie sur ma présentation*/
.card {
  background-color: #1a1c22;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  border: 2px solid;

  /* Ajouter une animation pour le changement de couleur de la bordure */
  animation: border-color-rotation 5s infinite linear;
}

@keyframes border-color-rotation {
  0% {
    border-color: #f7f7f7;
  }
  33% {
    border-color: #580ef6;
  }
  66% {
    border-color: #f7f7f7;
  }
  100% {
    border-color: #580ef6;
  }
}

.avatar img {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.info {
  text-align: left;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card p {
  margin: 5px 0;
  margin-left: 10px;
}

/* Media Queries */

.info p {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.info p i {
  width: 20px;
  text-align: center;
}

.info p span {
  display: block;
}

/* Styles pour la section "Compétences" */
.Bloc {
  background-color: #1a1c22;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  max-width: 1000px; /* Utilisation de max-width au lieu de width */
  width: 100%; /* Ajustement à la largeur disponible */
  margin: 0 auto; /* Centrage horizontal */
}

.competences-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.competences-category {
  padding: 20px;
  background-color: #580ef6;
  border-radius: 5px;
}

.competences-category h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #f7f7f7;
  text-decoration: underline;
  text-decoration-color: #f7f7f7;
}

.competences-category ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.competences-category ul li {
  margin-bottom: 5px;
  color: #f7f7f7;
}

/* ecran de téléphone les cards compétances ce met bien */
@media screen and (max-width: 768px) {
  .competences-container {
    grid-template-columns: 1fr;
  }
}

/* Styles pour la section "Projets" */
#title-projets {
  display: flex;
  flex-direction: column;
}

#projets {
  display: flex;
  flex-direction: column;
}

.lien-projet {
  color: #f7f7f7;
  text-decoration: none;
}

.lien-projet:hover {
  color: #580ef6;
}

.lien-projet:active {
  color: #f7f7f7;
}

.projet {
  display: flex;
  background-color: #1a1c22;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 2%;
}

.img-projet {
  width: 500px; /* Largeur fixe de 500px */
  height: auto;
  /* max-width: 100%; Permet aux images de s'adapter à la largeur du conteneur */
}

.text-projet {
  margin-left: 2%;
}

/* Media query pour les écrans de téléphone */
@media (max-width: 768px) {
  .projet {
    flex-direction: column; /* Passage en mode colonne */
  }

  .img-projet {
    width: 100%; /* Image à 100% de la largeur du conteneur */
    margin-right: 0; /* Suppression de la marge à droite */
    margin-bottom: 2%; /* Ajout d'une marge en bas pour l'espacement */
  }

  .text-projet {
    margin-left: 0; /* Suppression de la marge à gauche */
  }
}

/* Styles pour la section "Contact" */
#contact {
  background-color: #1a1c22;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#contact h2 {
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #f7f7f7;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info a,
.contact-info p {
  margin-bottom: 5px;
  color: #f7f7f7;
}

.contact-info a i,
.contact-info p i {
  margin-right: 5px;
}

.contact-info a {
  display: inline-block;
  text-decoration: none;
  color: #f7f7f7;
}

.contact-info a:hover {
  color: #580ef6;
}

.contact-info p {
  color: #f7f7f7;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  header nav ul li a {
    font-size: 14px;
  }

  .titre {
    text-align: center;
    margin-bottom: 20px;
  }

  .text {
    text-align: center;
  }

  .right {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments internes de passer à la ligne */
  }

  #projets .ligne-blanche {
    display: none;
  }

  .projet {
    flex-basis: 100%;
    margin: 0;
  }

  .card {
    flex-basis: 100%;
    margin: 0;
  }
}
