/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles généraux */
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  margin: 20px;
  background-color: #000000;
  color: #ffffff;
}

h1,
h2,
h3 {
  margin-bottom: 10px;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

/* Navigation */
header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-right: 20px;
}

/* Styles pour la section "Accueil" */
#accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
}

@keyframes change-couleur {
  0% {
    color: #5400a8;
  }
  20% {
    color: #ffffff;
  }
  40% {
    color: #5400a8;
  }
  60% {
    color: #ffffff;
  }
  80% {
    color: #5400a8;
  }
  100% {
    color: #ffffff;
  }
}

.texte-anime {
  animation: change-couleur 1s infinite;
}

/* Styles pour la section "À Propos" */
#apropos {
  display: flex;
  flex-direction: column;
}

/* Cards de présentation */
.card {
  background-color: #141414;
  display: flex;
  flex-direction: column; /* Afficher les éléments en colonne par défaut */
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
}

.avatar img {
  width: 100%; /* Image prendra 100% de la largeur */
  max-width: 300px; /* Limiter la largeur maximale de l'image */
  height: auto;
  margin-bottom: 20px; /* Ajouter un espace entre l'image et le texte */
}

.info {
  text-align: left;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.card p {
  margin: 5px 0;
  margin-left: 10px;
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .card {
    flex-direction: row; /* Afficher les éléments côte à côte sur les écrans larges */
    align-items: flex-start;
  }

  .avatar img {
    width: auto; /* Laisser l'image utiliser sa largeur d'origine */
    max-width: 100%; /* Réinitialiser la limite de largeur maximale */
    height: 100%; /* Image prendra 100% de la hauteur disponible */
    margin-bottom: 0; /* Supprimer l'espace entre l'image et le texte */
    margin-right: 20px; /* Ajouter un espace à droite de l'image */
  }

  .info {
    margin-right: 20px; /* Ajouter un espace à droite du texte */
  }
}

.info p {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
}

.info p i {
  width: 20px;
  text-align: center;
}

.info p span {
  display: block;
}

/* Styles pour la section "Compétences" */
.Bloc {
  background-color: #141414;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  max-width: 1000px; /* Utilisation de max-width au lieu de width */
  width: 100%; /* Ajustement à la largeur disponible */
  margin: 0 auto; /* Centrage horizontal */
}

.competences-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.competences-category {
  padding: 20px;
  background-color: #282828;
  border-radius: 5px;
}

.competences-category h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
  text-decoration: underline;
  text-decoration-color: #ffffff;
}

.competences-category ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.competences-category ul li {
  margin-bottom: 5px;
  color: #ffffff;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .competences-container {
    grid-template-columns: 1fr;
  }
}

/* Styles pour la section "Projets" */
#title-projets {
  display: flex;
  flex-direction: column;
}

#projets {
  display: flex;
  flex-direction: column;
}

.lien-projet {
  color: #ffffff;
  text-decoration: none;
}

.lien-projet:hover {
  color: #5400a8;
}

.lien-projet:active {
  color: #ffffff;
}

.img-projet {
  max-width: 100%;
  height: auto;
}
.projet {
  display: flex;
  background-color: #222222;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 2%;
}
.text-projet {
  margin-left: 2%;
}
/* Styles pour la section "Contact" */
#contact {
  background-color: #141414;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

#contact h2 {
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #ffffff;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info a,
.contact-info p {
  margin-bottom: 5px;
  color: #ffffff;
}

.contact-info a i,
.contact-info p i {
  margin-right: 5px;
}

.contact-info a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

.contact-info a:hover {
  color: #5400a8;
}

.contact-info p {
  color: #ffffff;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  header nav ul li a {
    font-size: 14px;
  }

  #accueil {
    height: auto;
    padding: 50px 0;
  }

  .titre {
    text-align: center;
    margin-bottom: 20px;
  }

  .text {
    text-align: center;
  }

  .right {
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments internes de passer à la ligne */
  }

  #projets .ligne-blanche {
    display: none;
  }

  .projet {
    flex-basis: 100%;
    margin: 0;
  }

  .card {
    flex-basis: 100%;
    margin: 0;
  }
}
