body {
  background-color: #d0d3d4;
}

header {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(0, 0, 0, 1));
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.avatar {
  width: 150px;
  height: 150px;
  margin: 20px auto;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  font-size: 2.5em;
  color: #eee;
}

.info p {
  font-size: 1.1em;
  color: #fff;
}

p {
  font-size: 1.1em;
  color: #000;
}

p span {
  font-weight: bold;
}

/* Style pour les containers des expériences */

h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
  color: #000;
  margin-left: 5%;
  margin-right: 5%;
}

h3 {
  font-size: 1.8em;
  color: #000;
  margin-left: 5%;
  margin-right: 5%;
}

.content {
  font-size: 1.1em;
  line-height: 1.6;
  margin-top: 10px;
  color: #000;
  margin-left: 5%;
  margin-right: 5%;
}
.background_CGI {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../img/CGI_logo.svg.png);

  background-size: contain; /* Ajuste l'image pour qu'elle rentre dans le conteneur */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center; /* Centre l'image dans le conteneur */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.background_ROLEX {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../img/Logo_da_Rolex.png);

  background-size: contain; /* Ajuste l'image pour qu'elle rentre dans le conteneur */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center; /* Centre l'image dans le conteneur */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

img {
  width: 50%;
  height: 50%;
  align-items: center;
}
.background_SAUVEGARDE {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../img/logo_S69.png);

  background-size: contain; /* Ajuste l'image pour qu'elle rentre dans le conteneur */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center; /* Centre l'image dans le conteneur */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.background_IPI {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(/img/logo\ ipi.png);

  background-size: contain; /* Ajuste l'image pour qu'elle rentre dans le conteneur */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center; /* Centre l'image dans le conteneur */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.background_La_Capsule {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url(../img/0x0.png);

  background-size: contain; /* Ajuste l'image pour qu'elle rentre dans le conteneur */
  background-repeat: no-repeat; /* Empêche la répétition de l'image */
  background-position: center; /* Centre l'image dans le conteneur */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

img {
  width: 50%;
  height: 50%;
  align-items: center;
}
/* Espacement entre les sections */
.info,
.content {
  margin-bottom: 40px;
}

.Date {
  font-style: italic;
}

footer {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(50, 50, 50, 1));
}
